{% extends 'base.html' %}

{% block meta %}
<title>Create a New Task</title>
{% endblock meta %}

{% block content %}  
<style>
    body {
        background: plum;
    }
    h1, div{text-align: center;}
    h1 {color: purple; background-color: lightblue;}
    table, button {margin: auto; top: 500px;}
</style>
<div class = "add_todolist">
    
    <h1>⚡️Add a New Task⚡️</h1>  

        <form method="POST" >  
            <div class="form-group">
                
                {% csrf_token %}  
                <table class="table table-hover">  
                    {{ form.as_table }}  
                    <tr >  
                        <td></td>
                        <td><input class="btn btn-primary" type="submit" name="submit" value="Save"/></td>  
                    </tr>  
                </table>  
            </div>
        </form>

    {% if messages %}  
        <ul>   
            {% for message in messages %}  
                <li>{{ message }}</li>  
                {% endfor %}  
        </ul>   
    {% endif %}

</div>  

{% endblock content %}