{% extends 'base.html' %}

{% block meta %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/registerstyle.css' %}">
{% endblock meta %}

{% block content %}  
<style>
    table {margin: auto; top: 500px;}
    h1, div{text-align: center;}
    h1  {color: darkblue;}

</style>
<div class = "login">
    
    <h1>🌼Registration Form🌼</h1>  

        <form method="POST" >  
            {% csrf_token %}  
            <table>  
                {{ form.as_table }}  
                <tr>  
                    <td></td>
                    <td><input class="button" type="submit" name="submit" value="Sign Up"/></td>  
                </tr>  
            </table>  
        </form>

    {% if messages %}  
        <ul>   
            {% for message in messages %}  
                <li>{{ message }}</li>  
                {% endfor %}  
        </ul>   
    {% endif %}

    Already have an account? <a href="{% url 'todolist:login' %}">Log in here!</a>

</div>  

{% endblock content %}