{% extends 'base.html' %}

{% block content %}
    <nav>
        <div class="navbar navbar-fixed-top ">
            <div class="logo">
                Welcome back, {{user}}!
            </div>
            <div class="link">
                <a href="{% url 'todolist:add_todolist' %}"><button class="btn btn-primary">Create a New Task</button></a>
                <a href="{% url 'todolist:logout' %}"><button class="btn btn-secondary">Logout</button></a>
            </div>
        </div>
    </nav>
{% load static %}
<link rel="stylesheet" href="{% static 'css/todoliststyle.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
<style>
    body {
        background: rgb(246, 233, 217);
    }
    h1, h5, div {text-align: center;}
    th {background-color: palevioletred; border: 2px solid;}
    table {margin: auto; top: 500px;}
    h1 {color: rgb(85, 85, 205);}
</style>
<h1>✏️To do list {{user}}📝</h1>

<!-- <table class="table table-hover">
    <thead class="thead-dark">
        <tr class="table-info">
            <th>Date</th>
            <th>Title</th>
            <th>Description</th>
        </tr>
    </thead>
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
    {% for i in list_todolist %}
        <tr>
            <th>{{i.date}}</th>
            <th>{{i.title}}</th>
            <th>{{i.description}}</th>
        </tr>
    {% endfor %}
    
</table> -->

<div class="row">
{% for i in list_todolist %}
<div class="col-md-6 col-lg-4 col-xl-3">
    <div class="card border-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">{{i.date}}</div>
        <div class="card-body text-primary">
          <h5 class="card-title">{{i.title}}</h5>
          <p class="card-text">{{i.description}}</p>
        </div>
    </div>
</div>

{% endfor %}
</div>

<h5>Last login session: {{last_login}}</h5>
<!-- <a href="{% url 'todolist:add_todolist' %}"><button class="btn btn-primary">Create a New Task</button></a>
<a href="{% url 'todolist:logout' %}"><button class="btn btn-secondary">Logout</button></a> -->
{% endblock content %}